In [1]:
import pandas as pd
import numpy as np

### __Data exploration and preparation__

### Appointments Data

In [2]:
appointments = pd.read_csv('data/p21_bi_intern_test_appointments.csv')
appointments.head()

,appointment_id,practitioner_id,patient_id,clinic_id,appointment_date
0,0004df0d-3df6-42be-9d68-b646a42a44bb,c7402157-ae44-45cc-b6a7-b348d5dbd417,158184,2,2022-12-22
1,000a978e-f134-47b3-ab9e-4f56084be38e,3ca4793d-065e-4112-b023-d1122a2a4b44,112887,2,2022-06-02
2,000c1615-0980-4933-9ad1-6f34bb5e188e,c7402157-ae44-45cc-b6a7-b348d5dbd417,141451,2,2022-10-18
3,000d8c91-e6a8-4404-bf8b-4951ed8ca1f2,2ea0ca2a-77fc-4447-b57c-62a6cb4d75a1,37516,1,2022-01-06
4,0015acc2-484c-491a-b455-0963835a31dd,ed1a5b13-3dc5-4212-b989-f59258b4410e,141833,2,2022-10-14

In [3]:
# Checking if the data is for the whole year 2022

appointments.sort_values('appointment_date', ascending = True).head(2)

,appointment_id,practitioner_id,patient_id,clinic_id,appointment_date
3322,4bf4b2c0-6735-459f-a931-29474d0b1e5e,098431c3-1301-456e-9171-0026d20a3d62,22546,1,2022-01-01
4223,610b31be-8063-4a41-97d2-6cfe487d7640,098431c3-1301-456e-9171-0026d20a3d62,28430,1,2022-01-01

In [4]:
appointments.sort_values('appointment_date', ascending = True).tail(2)

,appointment_id,practitioner_id,patient_id,clinic_id,appointment_date
8289,bfd2d7ff-34f6-4f66-b464-6dea6a4ccffc,45baf1d2-e066-4f40-8fc5-c61c08d4af4c,91833,1,2022-12-31
4368,64752c43-3b4b-478a-92c3-31f6e118813c,098431c3-1301-456e-9171-0026d20a3d62,24008,1,2022-12-31

In [5]:
appointments.shape

(11015, 5)

In [6]:
appointments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11015 entries, 0 to 11014
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   appointment_id    11015 non-null  object
 1   practitioner_id   11015 non-null  object
 2   patient_id        11015 non-null  int64
 3   clinic_id         11015 non-null  int64
 4   appointment_date  11015 non-null  object
dtypes: int64(2), object(3)
memory usage: 430.4+ KB

In [7]:
# cCanging appointment_date from object to datetime

appointments['appointment_date'] = pd.to_datetime(appointments['appointment_date'], format='%Y/%m/%d', utc=False)
appointments.appointment_date.head(2)

0   2022-12-22
1   2022-06-02
Name: appointment_date, dtype: datetime64[ns]

In [8]:
# Adding appointment year-month to the dataFrame

appointments['appointment_year_month'] = pd.to_datetime(appointments['appointment_date']).dt.strftime('%Y-%m')
appointments.head(2)

,appointment_id,practitioner_id,patient_id,clinic_id,appointment_date,appointment_year_month
0,0004df0d-3df6-42be-9d68-b646a42a44bb,c7402157-ae44-45cc-b6a7-b348d5dbd417,158184,2,2022-12-22,2022-12
1,000a978e-f134-47b3-ab9e-4f56084be38e,3ca4793d-065e-4112-b023-d1122a2a4b44,112887,2,2022-06-02,2022-06

In [9]:
appointments.isnull().sum()

appointment_id            0
practitioner_id           0
patient_id                0
clinic_id                 0
appointment_date          0
appointment_year_month    0
dtype: int64

In [10]:
appointments.duplicated().sum()

0

In [11]:
appointments['appointment_id'].nunique()

11015

In [12]:
appointments['practitioner_id'].nunique()

6

In [13]:
appointments['patient_id'].nunique()

3977

In [14]:
appointments['clinic_id'].nunique()

2

In [15]:
appointments['appointment_date'].nunique()

294

### Revenue Data

In [16]:
revenues = pd.read_csv('data/p21_bi_intern_test_revenues.csv')
revenues.head()

                         appointment_id  revenues
0  68339e8c-c708-4042-ba21-263838e0487b       NaN
1  270bd629-028b-45b2-86a1-af8de97a7fd0     54.17
2  85c0b7cf-6e50-4683-88c4-9d6ea30f6500     20.67
3  4333637e-b13a-41b8-a0b6-d43ce4c7c761     35.69
4  e526a6ac-eaf4-47bd-bead-1332fe3444e4    150.77

In [17]:
revenues.shape

(11015, 2)

In [18]:
revenues.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11015 entries, 0 to 11014
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   appointment_id  11015 non-null  object
 1   revenues        10902 non-null  float64
dtypes: float64(1), object(1)
memory usage: 172.2+ KB

In [19]:
revenues.isnull().sum()

appointment_id      0
revenues          113
dtype: int64

In [20]:
revenues.duplicated().sum()

0

In [21]:
revenues['appointment_id'].nunique()

11015

In [22]:
revenues['revenues'].nunique()

4951

### Combined Data (appoitments and revenues)

In [23]:
full_dataset = pd.merge(appointments, revenues, on='appointment_id')
full_dataset.head(2)

,appointment_id,practitioner_id,patient_id,clinic_id,appointment_date,appointment_year_month,revenues
0,0004df0d-3df6-42be-9d68-b646a42a44bb,c7402157-ae44-45cc-b6a7-b348d5dbd417,158184,2,2022-12-22,2022-12,299.17
1,000a978e-f134-47b3-ab9e-4f56084be38e,3ca4793d-065e-4112-b023-d1122a2a4b44,112887,2,2022-06-02,2022-06,124.51

In [24]:
# Total revenue for year 2022 (both clinics 1 and 2)

full_dataset.revenues.sum()

1904274.1099999999

In [25]:
full_dataset.shape

(11015, 7)

### Aggregrating the data by clinic and monthly revenue

In [26]:
monthly_revenues = full_dataset.groupby(['clinic_id', 'appointment_year_month'])['revenues'].sum().reset_index()
monthly_revenues

    clinic_id appointment_year_month    revenues
0           1                2022-01   49252.010
1           1                2022-02   67169.450
2           1                2022-03   90365.660
3           1                2022-04   87678.270
4           1                2022-05   63757.200
5           1                2022-06   53689.000
6           1                2022-07   79371.470
7           1                2022-08   79411.480
8           1                2022-09   80940.525
9           1                2022-10   86047.620
10          1                2022-11   85419.240
11          1                2022-12   97008.335
12          2                2022-01   48897.770
13          2                2022-02   58058.185
14          2                2022-03   61340.215
15          2                2022-04   59258.270
16          2                2022-05   80434.880
17          2                2022-06  107148.670
18          2                2022-07  101954.100
19          2                2022-08   58053.085
20          2                2022-09  103774.350
21          2                2022-10   95280.110
22          2                2022-11  107583.580
23          2                2022-12  102380.635

### Aggregrating the data by clinic and number of unique patient per month

Note: number of unique patient per month will be based on date of first appointment to avoid counting the same patient_id more than once as they may appear in different months

In [27]:
# Finding the first appointment date for each patient

first_appt = full_dataset.groupby('patient_id')['appointment_date'].min().reset_index()
first_appt = first_appt.rename(columns={'appointment_date': 'first_appointment_date'})
first_appt.head()

   patient_id first_appointment_date
0       18069             2022-05-23
1       18071             2022-01-12
2       18087             2022-11-24
3       18102             2022-07-15
4       18111             2022-01-01

In [28]:
# Merging the first appointment date with the data frame

full_dataset = pd.merge(full_dataset, first_appt, on='patient_id')
full_dataset.head(2)

,appointment_id,practitioner_id,patient_id,clinic_id,appointment_date,appointment_year_month,revenues,first_appointment_date
0,0004df0d-3df6-42be-9d68-b646a42a44bb,c7402157-ae44-45cc-b6a7-b348d5dbd417,158184,2,2022-12-22,2022-12,299.17,2022-12-22
1,000a978e-f134-47b3-ab9e-4f56084be38e,3ca4793d-065e-4112-b023-d1122a2a4b44,112887,2,2022-06-02,2022-06,124.51,2022-05-12

In [29]:
# Extracting the year and month of the patient's first appointment

full_dataset['first_appointment_month'] = full_dataset['first_appointment_date'].apply(lambda x: x.strftime('%Y-%m'))
full_dataset.head(2)

,appointment_id,practitioner_id,patient_id,clinic_id,appointment_date,appointment_year_month,revenues,first_appointment_date,first_appointment_month
0,0004df0d-3df6-42be-9d68-b646a42a44bb,c7402157-ae44-45cc-b6a7-b348d5dbd417,158184,2,2022-12-22,2022-12,299.17,2022-12-22,2022-12
1,000a978e-f134-47b3-ab9e-4f56084be38e,3ca4793d-065e-4112-b023-d1122a2a4b44,112887,2,2022-06-02,2022-06,124.51,2022-05-12,2022-05

In [30]:
# Aggregating the appointments data by clinic and month of first appointment

unique_patients = full_dataset.groupby(['clinic_id', 'first_appointment_month'])['patient_id'].nunique().reset_index()
unique_patients = unique_patients.rename(columns={'patient_id': 'unique_patients', 'first_appointment_month' : 'appointment_year_month'}) # renaming first_appointment_month as appointment_year_month for easy merging in the next step
unique_patients

    clinic_id appointment_year_month  unique_patients
0           1                2022-01              260
1           1                2022-02              114
2           1                2022-03              102
3           1                2022-04              126
4           1                2022-05              142
5           1                2022-06               94
6           1                2022-07              125
7           1                2022-08              150
8           1                2022-09              134
9           1                2022-10              109
10          1                2022-11              110
11          1                2022-12              139
12          2                2022-01              239
13          2                2022-02              185
14          2                2022-03              173
15          2                2022-04              186
16          2                2022-05              168
17          2                2022-06              126
18          2                2022-07              155
19          2                2022-08              129
20          2                2022-09              241
21          2                2022-10              243
22          2                2022-11              259
23          2                2022-12              268

In [31]:
# Createing a dictionary of data frames for each clinic

clinic_data = {}
for clinic_id in monthly_revenues['clinic_id'].unique():
    clinic_revenues = monthly_revenues[monthly_revenues['clinic_id'] == clinic_id]
    clinic_patients = unique_patients[unique_patients['clinic_id'] == clinic_id]
    if clinic_id == 1:
        clinic_data['Clinic 1'] = pd.merge(clinic_revenues, clinic_patients, on='appointment_year_month')
    elif clinic_id == 2:
        clinic_data['Clinic 2'] = pd.merge(clinic_revenues, clinic_patients, on='appointment_year_month')

In [32]:
clinic_data['Clinic 1']

,clinic_id_x,appointment_year_month,revenues,clinic_id_y,unique_patients
0,1,2022-01,49252.010,1,260
1,1,2022-02,67169.450,1,114
2,1,2022-03,90365.660,1,102
3,1,2022-04,87678.270,1,126
4,1,2022-05,63757.200,1,142
5,1,2022-06,53689.000,1,94
6,1,2022-07,79371.470,1,125
7,1,2022-08,79411.480,1,150
8,1,2022-09,80940.525,1,134
9,1,2022-10,86047.620,1,109
10,1,2022-11,85419.240,1,110
11,1,2022-12,97008.335,1,139

In [33]:
clinic_data['Clinic 2']

,clinic_id_x,appointment_year_month,revenues,clinic_id_y,unique_patients
0,2,2022-01,48897.770,2,239
1,2,2022-02,58058.185,2,185
2,2,2022-03,61340.215,2,173
3,2,2022-04,59258.270,2,186
4,2,2022-05,80434.880,2,168
5,2,2022-06,107148.670,2,126
6,2,2022-07,101954.100,2,155
7,2,2022-08,58053.085,2,129
8,2,2022-09,103774.350,2,241
9,2,2022-10,95280.110,2,243
10,2,2022-11,107583.580,2,259
11,2,2022-12,102380.635,2,268

### Forecasting with Autoregressive Integrated Moving Average (ARIMA)

Using time series forecasting model, ARIMA, future values are modelled and predicted based on the data above.

In [34]:
from statsmodels.tsa.arima.model import ARIMA
import dateutil.relativedelta as relativedelta

In [35]:
clinic_forecasts = {}
for clinic_id, clinic_df in clinic_data.items():
    ts_df = clinic_df.set_index('appointment_year_month')['revenues'] # Creating a time series data frame for ARIMA
    model = ARIMA(ts_df, order=(1, 1, 1)) # Fitting an ARIMA model to the data and making a forecast
    model_fit = model.fit()
    forecast = model_fit.forecast(steps=12)
    
    clinic_forecasts[clinic_id] = pd.DataFrame({'appointment_year_month': pd.date_range(start='2023-01-01', end='2023-12-01', freq='MS')}) # Storing the forecast in a dictionary
    clinic_forecasts[clinic_id]['forecast_revenues'] = forecast.values
    clinic_forecasts[clinic_id]['forecast_patients'] = clinic_df['unique_patients'].mean()

/home/eniolaolalere/miniconda3/envs/nf_sql/lib/python3.9/site-packages/statsmodels/tsa/base/tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency MS will be used.
  self._init_dates(dates, freq)
/home/eniolaolalere/miniconda3/envs/nf_sql/lib/python3.9/site-packages/statsmodels/tsa/base/tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency MS will be used.
  self._init_dates(dates, freq)
/home/eniolaolalere/miniconda3/envs/nf_sql/lib/python3.9/site-packages/statsmodels/tsa/base/tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency MS will be used.
  self._init_dates(dates, freq)
/home/eniolaolalere/miniconda3/envs/nf_sql/lib/python3.9/site-packages/statsmodels/tsa/base/tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency MS will be used.
  self._init_dates(dates, freq)
/home/eniolaolalere/miniconda3/envs/nf_sql/lib/python3.9/site-packages/statsmodels/tsa/base/tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency MS will be used.
  self._init_dates(dates, freq)
/home/eniolaolalere/miniconda3/envs/nf_sql/lib/python3.9/site-packages/statsmodels/tsa/base/tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency MS will be used.
  self._init_dates(dates, freq)

In [36]:
# Summing up the monthly revenues and unique patients to obtain the expected total revenues and unique patients for 2023

total_revenues = sum([clinic_forecasts[clinic_id]['forecast_revenues'].sum() for clinic_id in clinic_forecasts.keys()])
total_unique_patients = sum([clinic_forecasts[clinic_id]['forecast_patients'].sum() for clinic_id in clinic_forecasts.keys()])

print(f"Expected total revenues for 2023: €{total_revenues:.2f}")
print(f"Expected total unique patients for 2023: {int(total_unique_patients)}")

Expected total revenues for 2023: €2445062.10
Expected total unique patients for 2023: 3977

#### Forecast for Clinic 3 (New clinic that will be lunched in March, 2023)

In [37]:
# Forecasting the monthly revenues and unique patients for the new clinic starting in March 2023

new_clinic_id = max(clinic_forecasts.keys()) + str(1)
start_date = '2023-03-01'
end_date = '2023-12-01'
num_months = relativedelta.relativedelta(pd.to_datetime(end_date), pd.to_datetime(start_date)).months + 1
new_clinic_forecast = pd.DataFrame({'year_month': pd.date_range(start=start_date, end=end_date, freq='MS')})
new_clinic_forecast['forecast_patients'] = clinic_forecasts['Clinic 1']['forecast_patients'].mean()  # Using the mean unique patients of the existing clinics as a proxy
new_clinic_forecast['forecast_revenues'] = np.nan

# Initializing the revenue forecast for the new clinic as the average of the existing clinics' forecasts
for month in range(1, num_months + 1):
    new_clinic_forecast.loc[month - 1, 'forecast_revenues'] = sum([clinic_forecasts[clinic_id].loc[month - 1, 'forecast_revenues'] for clinic_id in clinic_forecasts.keys()]) / len(clinic_forecasts.keys())


#print(f"Expected monthly revenues for the new clinic:\n{new_clinic_forecast[['year_month', 'forecast_revenues']]}")
#print(f"Expected monthly unique patients for the new clinic:\n{new_clinic_forecast[['year_month', 'forecast_patients']]}")

In [38]:
# Calculating the total revenue and unique patients for the new clinic
total_new_clinic_3_revenue = new_clinic_forecast['forecast_revenues'].sum()
total_new_clinic_3_patients = new_clinic_forecast['forecast_patients'].sum()

print(f"Total expected revenue for the new clinic in 2023: €{total_new_clinic_3_revenue:.2f}")
print(f"Total expected unique patients for the new clinic in 2023: {int(total_new_clinic_3_patients)}")

Total expected revenue for the new clinic in 2023: €1018718.10
Total expected unique patients for the new clinic in 2023: 1337

#### Forecast for Clinic 4 (New clinic that will be lunched in July, 2023)

In [39]:
# Forecast monthly revenues and unique patients for the new clinic starting in July 2023

new_clinic_id = max(clinic_forecasts.keys()) + str(1)  # Generate a new clinic ID
start_date = '2023-07-01'
end_date = '2023-12-01'
num_months = relativedelta.relativedelta(pd.to_datetime(end_date), pd.to_datetime(start_date)).months + 1
new_clinic_forecast = pd.DataFrame({'year_month': pd.date_range(start=start_date, end=end_date, freq='MS')})
new_clinic_forecast['forecast_patients'] = clinic_forecasts['Clinic 1']['forecast_patients'].mean()
new_clinic_forecast['forecast_revenues'] = np.nan

for month in range(1, num_months + 1):
    new_clinic_forecast.loc[month - 1, 'forecast_revenues'] = sum([clinic_forecasts[clinic_id].loc[month - 1, 'forecast_revenues'] for clinic_id in clinic_forecasts.keys()]) / len(clinic_forecasts.keys())

#print(f"Expected monthly revenues for the new clinic:\n{new_clinic_forecast[['year_month', 'forecast_revenues']]}")
#print(f"Expected monthly unique patients for the new clinic:\n{new_clinic_forecast[['year_month', 'forecast_patients']]}")

# Calculating the total revenue and unique patients for the new clinic
total_new_clinic_4_revenue = new_clinic_forecast['forecast_revenues'].sum()
total_new_clinic_4_patients = new_clinic_forecast['forecast_patients'].sum()

print(f"Total expected revenue for the new clinic in 2023: €{total_new_clinic_4_revenue:.2f}")
print(f"Total expected unique patients for the new clinic in 2023: {int(total_new_clinic_4_patients)}")

Total expected revenue for the new clinic in 2023: €611092.20
Total expected unique patients for the new clinic in 2023: 802

#### Estimated revenue to expect and the number of unique patients that will be acquired by the end of 2023

In [40]:
# Calculating the total revenue and unique patients for all the clinics

total_revenue = total_revenues + total_new_clinic_3_revenue + total_new_clinic_4_revenue
total_patients = total_unique_patients + total_new_clinic_3_patients + total_new_clinic_4_patients


print(f"Total expected revenue for all clinics in 2023: €{total_revenue:.2f}")
print(f"Total expected unique patients for all clinics in 2023: {int(total_patients)}")

Total expected revenue for all clinics in 2023: €4074872.40
Total expected unique patients for all clinics in 2023: 6117